.statistic {
  width: 100%;
  margin: 1px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  height: auto;
  position: relative;
  border-radius: 2px;
  transition: all 0.1s ease;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: wrap;
}

.statistic--block {
  margin: 5px;
}

.statistic__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.statistic__number {
  color: #00BFA5;
  font-weight: bold;
  font-size: 26px;
}

.statistic__label {
  color: #607D8B;
  font-size: 12px;
}
